body {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: #6e5e5e;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;


}

nav a {
    text-decoration: none;
    color: #331919;
}

.banner {
    display: flex;
    gap: 150px;
    background-color: rgba(229, 84, 115, 0.10);
    padding: 50px 240px 0px 240px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    ;
    font-weight: 800;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.button {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 45px;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.our-featured-flowers {
    margin-top: 178px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    width: 594px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 auto;
}

.flower {
    display: flex;
    justify-content: space-around;
    text-align: center;
    text-decoration: underline;
    gap: 24px;
    margin: 50px 240px 0px;

}

.flower-image1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0px 76px;
}

.flower-image2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px 47px;
}

.flower-image3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0px 75px;
}

.service-container {
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 128px 240px;
    justify-content: space-between;
    padding: 86px 175px;

}

.service-title {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}

.delivery-image {
    padding: 0px 178px 0px 200px;
}

.fresh-flower-image {
    padding: 0px 135px 0px 130px;
}

.support-image {
    padding: 0px 85px 0px 80px;
}

.sign-up {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px 400px;
    margin-bottom: 128px;
}

.span {
    color: #E55473;
}

#sign-up-button {
    margin-top: 32px;
    margin-left: 45%;

}

.flower-image-instagram {
    display: flex;
    justify-content: space-between;
    margin: 48px 240px 128px 240px;
    gap: 24px;
}

.input-email {
    border-radius: 8px;
    border: none;
    background: #FFF;
    padding: 23px 500px 22px 23px;
}

.subscribe-area {
    background-image: url('Rectangle\ 9.png');
    background-repeat: no-repeat;
    margin: 128px 240px;
    padding: 122px 287px;
}

.input-email {
    margin-top: 20px;
}

.footer {
    background: #111010;
    padding: 210px 650px;
}

.footer-title {
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.copyright-massage {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-left: 25%;
}